body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
  margin: 0;
  padding: 0;
}

header {
  background: #0d6efd;
  color: white;
  padding: 20px;
  text-align: center;
}

nav {
  background: #222;
  padding: 10px;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

section {
  padding: 20px;
}

footer {
  background: #ddd;
  text-align: center;
  padding: 10px;
  }
